Failed to parse JWT - suggested fix

Hello,
First of all thanks for your work!
When using your module I came across "failed to parse JWT" error multiple times. After digging in it turns out that in Authorization header 'bearer' was not in capital letter. According to standards [RFC 7235 Section 2.1](https://datatracker.ietf.org/doc/html/rfc7235?ref=blog.teknkl.com#section-2.1) the auth-scheme part of an HTTP Authorization header is case-insensitive.
My quickfix was to change this [line](https://github.com/TeslaGov/ngx-http-auth-jwt-module/blob/master/src/ngx_http_auth_jwt_module.c#L633) to 
`if (ngx_strncasecmp(jwtHeaderVal->value.data, (u_char *)BEARER_PREFIX, strlen(BEARER_PREFIX)) == 0)`
But I'm no C developer so I believe you could fix it in more elegant way.
Thanks in advance.

Thanks for this! [PR is here](https://github.com/TeslaGov/ngx-http-auth-jwt-module/pull/135), using your fix exactly as you have it (plus some other unrelated fixes).

PR is merged and [new release](https://github.com/TeslaGov/ngx-http-auth-jwt-module/releases/tag/2.2.0) is up!